<!-- Things to change:
      filled form
-->

<% if action == :edit %>
  <% action_url = cat_url(@cat) %>
<% else %>
  <%  action_url = cats_url %>
<% end %>

<form action= "<%= action_url %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">

  <br>

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value="<%= @cat.birth_date.to_date if @cat.birth_date %>">

  <br>

  <label for="sex">Sex</label>
  M<input id="sex" type="radio" name="cat[sex]" value="M" <%= @cat.sex == "M" ? "checked" : "" %>>
  F<input id="sex" type="radio" name="cat[sex]" value="F" <%= @cat.sex == "F" ? "checked" : "" %>>

  <br>

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled>Please select a color--</option>
    <option value="blue" <%= @cat.color == 'blue' ? "selected" : "" %> >Blue</option>
    <option value="brown" <%= @cat.color == 'brown' ? "selected" : "" %> >Brown</option>
    <option value="pink" <%= @cat.color == 'pink' ? "selected" : "" %> >Pink</option>
  </select>
  <br>
  <br>

  <label for="description">Description</label>
  <textarea id="description" name="cat[description]"><%= @cat.description %></textarea>

  <br>

  <input type="submit" value="Submit">

</form>
